<div class="grid-container">
  <h1 class="mat-h1">მფლობელები</h1>
  <mat-grid-list cols="2" rowHeight="750px">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            სქესის მიხედვით
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- <app-first-tile></app-first-tile> -->
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            ასაკის მიხედვით
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- <app-second-tile></app-second-tile> -->
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>