<div class="grid-container">
    <h1 class="mat-h1">მანქანები</h1>
    <mat-grid-list cols="2" rowHeight="750px">
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              ძრავის ტიპის მიხედვით
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <app-fuel-type-tile></app-fuel-type-tile>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              ფერის მიხედვით
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
              <app-color-tile></app-color-tile>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              გამოშვების წელის მიხედვით
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <app-car-year-tile></app-car-year-tile>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>